<!DOCTYPE html>
<html lang="en">
    {% include 'head.twig' %}

    <body>
    	<a href="#content" class="skip-to-content">Skip to content</a>

        {# SVG defs #}
        <div class="hide">
            {% include '../../assets/svg-defs.svg' %}
        </div>

        {# Header #}
        {% include '../general/header.twig' %}

        {# Content #}
        <main id="content" role="main">
            {% block content %}
            {% endblock %}
        </main>

        {# Footer #}
        {% include '../general/footer.twig' %}

        {# JavaScript #}
        <script src="/js/app.min.js" async></script>
    </body>
</html>
