<!DOCTYPE html>
<html lang="en">
    {% include 'head.twig' %}

    <body>
        <!-- Navigation -->
        {% include '../general/nav.twig' %}

        <!-- Hero -->
        {% include '../sections/section-hero.twig' %}

        <!-- Content -->
        {% block content %}
        {% endblock %}

        <!-- Footer -->
        {% include '../general/footer.twig' %}

        <!-- JavaScript -->
        <script src="/js/app.min.js"></script>
    </body>
</html>
