<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {# Prefetch/preload #}
    <link rel="preload" href="/css/style.css" as="style">
    <link rel="preload" href="/js/app.min.js" as="script">

    {# Styles #}
    <link href="/css/style.css" rel="stylesheet">

    {# Google Analytics #}
    {# Add GA code here #}
</head>
