<div class="container">
    <nav>
        <ul class="list--inline text-center">
            <li {{# home }}class="active"{{/ home }}><a href="index.html">Home</a></li>
            <li {{# about }}class="active"{{/ about }}><a href="about.html">About</a></li>
            <li {{# contact }}class="active"{{/ contact }}><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</div>
