// Buttons
// ------------------------
.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	color: $white;
	line-height: 1;
    font-size: 1rem;
	font-weight: normal;
	margin-bottom: 0.5rem;
	padding: 1rem 1.5rem 0.9rem;
	text-align: center;
    font-family: $font;
    cursor: pointer;
    text-decoration: none;
	background: $primary;
	border: 1px solid $primary;
    border-radius: 3px;
    transition: 0.3s ease-in-out;

	&:hover,
	&:focus {
		color: $white;
		background: $primary-light;
		border-color: $primary-light;
	}
}

// Outlined button
.btn--outline {
	color: $primary;
	background: transparent !important;

	&:hover,
	&:focus {
		color: $primary-light;
		border-color: $primary-light;
	}
}

// Secondary color button
.btn--secondary {
	background: $secondary;
	border-color: $secondary;

	&:hover,
	&:focus {
		background: $secondary-light;
		border-color: $secondary-light;
	}

	&.btn--outline {
		color: $secondary;
		border-color: $secondary;

		&:hover,
		&:focus {
			color: $secondary-light;
			border-color: $secondary-light;
		}
	}
}

// Small button
.btn--small {
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
}

// Large button
.btn--large {
	padding: 1.5rem 2rem;
	font-size: 1.4rem;
}

// Full width button
.btn--full {
	display: block;
	width: 100%;
}

// Disabled button
.btn:disabled,
.btn--disabled {
	color: $gray !important;
	background: $gray-dark !important;
	border-color: $gray-dark !important;
	pointer-events: none !important;
}
