// Base
// ------------------------
*,
*:before,
*:after {
    box-sizing: border-box;
}

::selection {
    color: $white;
    background-color: $primary;
}

html {
    @if feature(debugging) {
        @include debug-breakpoints;
    }
}

body {
    overflow-x: hidden;
    min-width: $min-width;
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
}
