// Base
// ------------------------
*,
*:before,
*:after {
    box-sizing: border-box;
}

::selection {
    color: $secondary;
    background: $primary;
}

html {
    @if $debug {
        @include debug-breakpoints;
    }
}

body {
	font: 100%/1.5 $font;
	-webkit-text-size-adjust: 100%;
	color: $black;
    min-width: $min-width;
}
