<div class="block">
    {{# image }}
        <img src="{{{ image.src }}}" alt="{{ image.alt }}">
    {{/ image }}

    <div class="block__title">{{ title }}</div>
    <div class="block__description">{{ description }}</div>
</div>
