{% extends '../partials/general/layout.twig' %}

{% block content %}

    <!-- Blocks -->
    <div class="section section--blocks">
        <div class="container">
            <div class="g g-center g-s-2 g-m-3 g-l-4">
                {% for block in blocks %}
                    <div class="gi">
                        {% include '../partials/blocks/block.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
