<!DOCTYPE html>
<html lang="en">
    {{> head }}

    <body>
        <!-- Navigation -->
        {{> nav }}

        <!-- Hero -->
        {{> section-hero }}

        <!-- Content -->
        <div class="section section--blocks">
            <div class="container">
                <div class="g g-center g-s-2 g-m-3 g-l-4">
                    {{# blocks }}
                        <div class="gi">
                            {{> block }}
                        </div>
                    {{/ blocks }}
                </div>
            </div>
        </div>

        <!-- Footer -->
        {{> footer }}

        <!-- JavaScript -->
        <script src="./js/main.min.js"></script>
    </body>
</html>
