{% extends '../partials/general/_layout.twig' %}

{% block content %}

    <!-- Locations -->
    <section class="section section--locations">
        <div class="container">
            <h3>Locations</h3>
            {% include '../partials/general/locations.twig' %}
        </div>
    </section>

{% endblock %}
