<!DOCTYPE html>
<html lang="en">
    {{> head }}

    <body>
        <!-- Navigation -->
        {{> nav }}

        <!-- Hero -->
        {{> section-hero }}

        <!-- Locations -->
        {{> locations }}

        <!-- Footer -->
        {{> footer }}

        <!-- JavaScript -->
        <script src="./js/main.min.js"></script>
    </body>
</html>
