{% extends '../../partials/base/_layout.twig' %}

{% block content %}

    <!-- Article -->
    <section class="section section--article">
        <div class="container">
            <div class="row">
                {% set article = articles|first %}
                <div class="col">
                    {% include '../../partials/blocks/block-article.twig' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
