{% extends '../../partials/general/_layout.twig' %}

{% block content %}

    <!-- News -->
    <section class="section section--news">
        <div class="container">
            <ul class="list--inline">
                {% for category in categories %}
                    <li><a href="{{ category.url }}">{{ category.title }}</a></li>
                {% endfor %}
            </ul>

            <div class="row row-center row-s-2 row-m-3 row-l-4">
                {{ stuff }}
                {% for article in articles %}
                    <div class="col">
                        {% include '../../partials/blocks/block-article.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
